.wrapper{
  background-image: url(../img/bg2.png);
}
.job:after, .learn:after{
  display: none;
}
.main-menu__item{
  border-top: 1px solid #b8b8b8;
}
.main-menu:first-child{
  border-top: none;
}
.learn{
  border-bottom: none;
}
.mywork__title{
  background: #999;
  color: #ddd;
}
.mywork__pic:hover:after{
  display: none;
}
.add-project:hover {
  color: #777;
  background: #ddd;
}
.add-project:hover:before{
  background: #ddd;
}
.job:before{
  background: url(../img/sprite.png) -176px -5px no-repeat;
  width: 53px;
  height: 55px;
  margin-top: -20px;
  left: 0;
}
.edu-work__edu1:before {
  width: 53px;
  height: 55px;
  background-position: -239px -5px;
  margin-top: -20px;
  left: 0;
}
.edu-work__edu2:before{
  width: 53px;
  height: 55px;
  background-position: -82px -5px;
  margin-top: -20px;
  left: 0;
}
.edu-work__loftschool:before{
  width: 53px;
  height: 55px;
  background-position: -137px -70px;
  margin-top: -20px;
  left: 0;
}
.add-project:after{
  width: 53px;
  height: 55px;
  background-position: -151px -135px;
  margin-left: -30px;
  top:20%;
}
.popup-wrapper{
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.downpic__descr{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}
