@import "bower_components/normalize.css/normalize";
@import "partials/fonts";
@import "partials/jquery.formstyler";





@import "partials/global";
@import "partials/sprite";
@import "partials/header";
@import "partials/breadcrumbs";
@import "partials/main";
@import "partials/aside";
@import "partials/main-block";
@import "partials/pagination";
@import "partials/info";
@import "partials/footer";