doctype html
html.no-js(lang='RU-ru')
  head
    include template/head
  body
    include template/header
    include template/breadcrumbs
    main.main
      h2.main-title Мобильные телефоны
      include template/aside
      include template/main-block
      include template/pagination
      include template/info
      include template/footer


    include template/script