.main-title{
  margin-bottom: 30px;
}
.tel{
  box-sizing: border-box;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__link{
  font-family: "open_sansregular", sans-serif;
  font-size: 14px;
  padding: 15px 30px;
  display: block;
  border-top: 1px solid #dee1e4;
  text-decoration: none;
  color: #7f7f7f;
  &:hover{
    opacity: 0.6;
    }
  }
  &__flagmans{
    border-top: none;
    background: #fbfbfb;
  }
  &__budget{
    background: #d9e5ea;
  }

}

.aside-form{
  box-sizing: border-box;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  margin-top: 40px;
  overflow: hidden;
  background: #fbfbfb;
}

.aside-form-block{
  padding: 15px 30px;
  border-top: 1px solid #dee1e4;
  position: relative;

  &:first-child{
    border-top: none;
  }
}

.aside-form-title{
  font-family: "open_sanssemibold", sans-serif;
  font-size: 16px;
  margin: 0 0 20px 0;

}

//--------------- Radiobutton ----------------

.shop{
  padding-left: 60px;
  &:hover .arrow{
    @include sprite($arrow-t)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &:hover .arrow2{
    @include sprite($arrow-d)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &__title{
    margin-left: -30px;
  }
  &__radio{
    position: relative;
    font-family: "open_sansregular", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    &:before{
      content: "";
      @include sprite($radio-p);
      position: absolute;
      left: -29px;
      top: 50%;
      margin-top: -9px;
      display: block;
      cursor: pointer;
    }
    &--active{
      &:before{
        @include sprite($radio-a);
      }
    }
  }
}


// ----------- Checkbox ---------------

.brends, .os{
  padding-left: 60px;
  &__title{
    margin-left: -30px;
  }
  &__check{
    position: relative;
    font-family: "open_sansregular", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    &:before{
      content: "";
      @include sprite($check-p);
      position: absolute;
      left: -29px;
      top: 50%;
      margin-top: -9px;
      display: block;
      cursor: pointer;
    }
    &--active{
      &:before{
        @include sprite($check-a);
      }
    }
  }
}

.brends__link, .os__link{
  margin-left: -30px;
  font-family: "open_sansregular", sans-serif;
  color: #00b3ff;
  font-size: 14px;
}
.brends{
  &:hover .arrow{
    @include sprite($arrow-t)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &:hover .arrow2{
    @include sprite($arrow-d)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
}
.os{
  &:hover .arrow{
    @include sprite($arrow-t)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &:hover .arrow2{
    @include sprite($arrow-d)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
}


//--------- Cost ------------

.cost{
  &:hover .arrow{
    @include sprite($arrow-t)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &:hover .arrow2{
    @include sprite($arrow-d)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &__span{
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    padding-right: 5px;
  }
  &__input{
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 80px;
    &:first-child{
      margin-right: 20px;
    }
  }
}





//----------- Color -----------

.color{
  &:hover .arrow{
    @include sprite($arrow-t)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &:hover .arrow2{
    @include sprite($arrow-d)
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
  }
  &__item{
    display: inline-block;
  }
  &__link{
    width: 36px;
    height: 36px;
    border: 1px solid #dee2e5;
    display: block;
    margin: 0 20px 20px 0;
    &--white{
      background: #fff;
  }
    &--gray{
      background: gray;
    }
    &--black{
      background: #000;
    }
    &--d-blue{
      background: #002d53;
    }
    &--red{
      background: #ff1100;
    }
    &--yellow{
      background: #fff324;
    }
    &--biscuit{
      background: #ff9243;
    }
    &--green{
      background: #78c479;
    }
    &--blue{
      background: #00a7ff;
    }
    &--purple{
      background: #a670b0;
    }
    &--pink{
      background: #f879b0;
    }
    &--brown{
      background: #913d14;
    }
    &:hover{
      outline: 2px solid #ff6600;
    }
  }

}