.breadcrumbs{
    margin-bottom: 25px;
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
    &:after{
      content: ">";
      padding-left:2px;
    }
    &:last-child:after{
      content: "";
    }
  }
  &__link{
    font-size: 14px;
    line-height: 1.4;
    font-family: "open_sansregular";
    color: #303030;
    text-decoration: none;
    &:hover{
      border-bottom: 1px solid #303030;
    }
    &--active{
      color: #FF6702;
      border-bottom: 1px solid #FF6702;
      &:hover{
        border-bottom: 1px solid #FF6702;
      }
    }
  }
}