// ==================Header section=================

.header{
  margin-bottom: 25px;
}
// -----------Header-top-------------
.header-top{
  padding: 25px 0;
  background-color: #ffffff;
  min-width: 100%;
}
.social{
  float: left;
  width: 112px;
  &__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
  }
  &__item{
    display: inline-block;
    margin-left: 15px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__link{
    display: inline-block;
    text-indent: -9999px;
    &--fb{
      @include sprite($fb);
      &:hover{
        @include sprite($fb-h);
      }
     }
     &--vk{
      @include sprite($vk);
      &:hover{
        @include sprite($vk-h);
      }
     }
     &--tw{
      @include sprite($tw);
      &:hover{
        @include sprite($tw-h);
      }
     }
    }
  }



.address{
  float: right;
  max-width: 465px;
  &__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
  }

  &__item{
    position: relative;
    display: inline-block;
    &:first-child{
      margin-left: 0;
    }
    margin-left: 85px;
    &:before{
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      margin-top: -8px;
    }
  }
  &__name{
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 1.7;
    color: #303030;
    &:before{
      @include sprite($map);
    }
  }
  &__tel{
    &:hover{
      opacity: .5;
    }

  }
  &__link-tel{
    text-decoration: none;
    font-family: "open_sanssemibold";
    font-size: 18px;
    line-height: 1.3;
    color: #303030;
    &:before{
      @include sprite($tel);
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      margin-top: -8px;
    }
  }
}


//---------Header-middle-----------


.header-middle{
  padding: 30px 0;
  font-size: 0;
  &__logo, &__form, &__menu{
    display: inline-block;
    vertical-align: middle;
  }
  &__logo{
    margin-right: 55px;
  }
  &__form{
    margin: 0;
    padding: 0;
    margin-right: 50px;
  }
}


.logo{
  display: inline-block;
  vertical-align: middle;
  &__h1{
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  &__img{
    background: #f4f4f4;
  }
}


.search{
  &__input{
    font-family: "open_sanslight";
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #dee2e5;
    border-radius: 5px 0 0 5px;
    width: 289px;
    border-right: none;
    box-sizing:border-box;
    outline: none;
  }
  &__button{
    margin-left: -4px;
    font-family: "open_sanssemibold";
    font-size: 16px;
    padding: 7px 16px 8px 16px;
    border: none;
    background-color: #ff6601;
    color: #ffffff;
  }
}


.user-menu{
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
    margin-left: 33px;
    &:first-child{
      margin-left: 0;
    }
  }
  &__link{
    font-family: "open_sanssemibold";
    font-size: 16px;
    color: #303030;
    &:hover{
      color: #ff6600;
    }
  }
}


.header-menu{
  background: #ffffff;
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
  }
  &__link{
    font-size: 16px;
    font-family: "open_sansregular";
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    color: #303030;
    &:hover{
      background: #e5e3e3;
    }
    &--active{
      background: #ff6702;
      color: #fff;
      font-family: "open_sanssemibold";
      &:hover{
        background: #ff6702;
      }
    }
  }
}