.main-title{
  margin-top: 25px;
  font-size: 20px;
  line-height: 1;
  font-family: "open_sansbold", sans-serif;
  color: #333;
}

.aside{
  float: left;
  width: 330px;
}

.main-content{
  float: right;
  width: 740px;
  margin-bottom: 65px;
}