.main-content-top{
  background: #e1ecef;
  border: 1px solid #dee1e4;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sorting{
  width: 290px;
  float: left;
  padding: 13px 20px;
  &__by{
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    padding-right: 10px;
  }
}
.jq-selectbox{
  width: 140px;
}
.jq-selectbox__select{
  font-family: "open_sanslight", sans-serif;
  font-size: 14px;
  background-color: white;
  border: 1px solid #eaeef0;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #959595;

}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}
.jq-selectbox__trigger{
  border-left: none;
}

.view{
  width: 260px;
  float: right;
  font-family: "open_sansregular", sans-serif;
  font-size: 0px;
  line-height: 2.2;
  &__descr{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-right: 11px;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;


  }
  &__link{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #dee2e5;
    position: relative;
    padding: 20px 18px;
    &:hover{
      opacity: 0.5;
    }
  }
  &--min{
    @include sprite($min);
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
  &--middle{
    @include sprite($middle);
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
  &--norm{
    @include sprite($norm);
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
}

// -------------- Основной блок ------------------

.product{
  width: 740px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #dee2e5;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  &:hover{
    box-shadow: 0 1px 5.7px 0.3px rgba(119, 119, 119, 0.75);
  }
  &__block-left{
    box-sizing: border-box;
    width: 160px;
    float: left;
  }
  &__block-center{
    box-sizing: border-box;
    width: 405px;
    float: left;
  }
  &__block-right{
    box-sizing: border-box;
    width: 130px;
    float: right;
  }
}

.block-left{
  &__img{
    width: 136px;
    background-color: white;
    border: 1px solid #dee2e5;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 136px;
    overflow: hidden;
    margin-bottom: 15px;
    & img{
      vertical-align: middle;
    }
  }
  &__min-img{
    width: 136px;
    text-align: center;
  }
  &__min-img-wr{
    display: inline-block;
    margin-left: 12px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #dee2e5;
    box-sizing: border-box;
    margin-bottom: 10px;
    &:first-child{
      margin-left: 0;
    }
    & img{
      vertical-align: middle;
    }
    &:hover{
      border: 1px solid #ff6600;
    }
  }
  &__vendor{
    width: 136px;
    text-align: center;
    font-family: "open_sansbold", sans-serif;
    font-size: 12px;
    color: #898989;
    & span{
    font-size: 14px;
    font-family: "open_sanssemibold", sans-serif;
    padding-left: 5px;
    color: #6b6b6b;
    }
  }
}

.block-center{
  &__title{
    font-family: "open_sanssemibold", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    padding-top: 0;
  }
  &__description{
    font-family: "open_sansregular", sans-serif;
    line-height: 1.4;
    font-size: 14px;
  }
}

.block-right{
  &__price{
    font-family: "open_sanssemibold", sans-serif;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    span{
      font-family: "PTRoubleDecorative", serif;
      font-size: 22px;
      line-height: 1;
      padding-left: 5px;
  }
  }
  border-left: 1px solid #dee1e4;
  padding-left: 24px;
  &__price{
    font-size: 20px;
    line-height: 1;
    margin-bottom: 130px;
    text-align: right;
  }
  &__recycler{
    padding: 7px 15px;
    font-family: "open_sansbold", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ff6704;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  &__avial{
    font-family: "open_sansbold", sans-serif;
    font-size: 12px;
    line-height: 1.666;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    &:before{
      content: "";
      @include sprite($green);
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 23px;
    }
  }
}