/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-d-name: 'arrow-d';
$arrow-d-x: 28px;
$arrow-d-y: 171px;
$arrow-d-offset-x: -28px;
$arrow-d-offset-y: -171px;
$arrow-d-width: 18px;
$arrow-d-height: 11px;
$arrow-d-total-width: 207px;
$arrow-d-total-height: 182px;
$arrow-d-image: '../images/sprite.png';
$arrow-d: (28px, 171px, -28px, -171px, 18px, 11px, 207px, 182px, '../images/sprite.png', 'arrow-d', );
$arrow-t-name: 'arrow-t';
$arrow-t-x: 0px;
$arrow-t-y: 171px;
$arrow-t-offset-x: 0px;
$arrow-t-offset-y: -171px;
$arrow-t-width: 18px;
$arrow-t-height: 11px;
$arrow-t-total-width: 207px;
$arrow-t-total-height: 182px;
$arrow-t-image: '../images/sprite.png';
$arrow-t: (0px, 171px, 0px, -171px, 18px, 11px, 207px, 182px, '../images/sprite.png', 'arrow-t', );
$check-a-name: 'check-a';
$check-a-x: 0px;
$check-a-y: 142px;
$check-a-offset-x: 0px;
$check-a-offset-y: -142px;
$check-a-width: 19px;
$check-a-height: 19px;
$check-a-total-width: 207px;
$check-a-total-height: 182px;
$check-a-image: '../images/sprite.png';
$check-a: (0px, 142px, 0px, -142px, 19px, 19px, 207px, 182px, '../images/sprite.png', 'check-a', );
$check-p-name: 'check-p';
$check-p-x: 159px;
$check-p-y: 72px;
$check-p-offset-x: -159px;
$check-p-offset-y: -72px;
$check-p-width: 19px;
$check-p-height: 19px;
$check-p-total-width: 207px;
$check-p-total-height: 182px;
$check-p-image: '../images/sprite.png';
$check-p: (159px, 72px, -159px, -72px, 19px, 19px, 207px, 182px, '../images/sprite.png', 'check-p', );
$cost-t-name: 'cost-t';
$cost-t-x: 195px;
$cost-t-y: 52px;
$cost-t-offset-x: -195px;
$cost-t-offset-y: -52px;
$cost-t-width: 8px;
$cost-t-height: 14px;
$cost-t-total-width: 207px;
$cost-t-total-height: 182px;
$cost-t-image: '../images/sprite.png';
$cost-t: (195px, 52px, -195px, -52px, 8px, 14px, 207px, 182px, '../images/sprite.png', 'cost-t', );
$fb-f-h-name: 'fb-f-h';
$fb-f-h-x: 0px;
$fb-f-h-y: 53px;
$fb-f-h-offset-x: 0px;
$fb-f-h-offset-y: -53px;
$fb-f-h-width: 43px;
$fb-f-h-height: 43px;
$fb-f-h-total-width: 207px;
$fb-f-h-total-height: 182px;
$fb-f-h-image: '../images/sprite.png';
$fb-f-h: (0px, 53px, 0px, -53px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'fb-f-h', );
$fb-f-name: 'fb-f';
$fb-f-x: 53px;
$fb-f-y: 53px;
$fb-f-offset-x: -53px;
$fb-f-offset-y: -53px;
$fb-f-width: 43px;
$fb-f-height: 43px;
$fb-f-total-width: 207px;
$fb-f-total-height: 182px;
$fb-f-image: '../images/sprite.png';
$fb-f: (53px, 53px, -53px, -53px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'fb-f', );
$fb-h-name: 'fb-h';
$fb-h-x: 159px;
$fb-h-y: 36px;
$fb-h-offset-x: -159px;
$fb-h-offset-y: -36px;
$fb-h-width: 26px;
$fb-h-height: 26px;
$fb-h-total-width: 207px;
$fb-h-total-height: 182px;
$fb-h-image: '../images/sprite.png';
$fb-h: (159px, 36px, -159px, -36px, 26px, 26px, 207px, 182px, '../images/sprite.png', 'fb-h', );
$fb-name: 'fb';
$fb-x: 74px;
$fb-y: 106px;
$fb-offset-x: -74px;
$fb-offset-y: -106px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 207px;
$fb-total-height: 182px;
$fb-image: '../images/sprite.png';
$fb: (74px, 106px, -74px, -106px, 26px, 26px, 207px, 182px, '../images/sprite.png', 'fb', );
$green-name: 'green';
$green-x: 195px;
$green-y: 76px;
$green-offset-x: -195px;
$green-offset-y: -76px;
$green-width: 7px;
$green-height: 7px;
$green-total-width: 207px;
$green-total-height: 182px;
$green-image: '../images/sprite.png';
$green: (195px, 76px, -195px, -76px, 7px, 7px, 207px, 182px, '../images/sprite.png', 'green', );
$map-name: 'map';
$map-x: 195px;
$map-y: 26px;
$map-offset-x: -195px;
$map-offset-y: -26px;
$map-width: 12px;
$map-height: 16px;
$map-total-width: 207px;
$map-total-height: 182px;
$map-image: '../images/sprite.png';
$map: (195px, 26px, -195px, -26px, 12px, 16px, 207px, 182px, '../images/sprite.png', 'map', );
$middle-name: 'middle';
$middle-x: 84px;
$middle-y: 142px;
$middle-offset-x: -84px;
$middle-offset-y: -142px;
$middle-width: 16px;
$middle-height: 16px;
$middle-total-width: 207px;
$middle-total-height: 182px;
$middle-image: '../images/sprite.png';
$middle: (84px, 142px, -84px, -142px, 16px, 16px, 207px, 182px, '../images/sprite.png', 'middle', );
$min-name: 'min';
$min-x: 110px;
$min-y: 142px;
$min-offset-x: -110px;
$min-offset-y: -142px;
$min-width: 16px;
$min-height: 16px;
$min-total-width: 207px;
$min-total-height: 182px;
$min-image: '../images/sprite.png';
$min: (110px, 142px, -110px, -142px, 16px, 16px, 207px, 182px, '../images/sprite.png', 'min', );
$norm-name: 'norm';
$norm-x: 58px;
$norm-y: 142px;
$norm-offset-x: -58px;
$norm-offset-y: -142px;
$norm-width: 16px;
$norm-height: 16px;
$norm-total-width: 207px;
$norm-total-height: 182px;
$norm-image: '../images/sprite.png';
$norm: (58px, 142px, -58px, -142px, 16px, 16px, 207px, 182px, '../images/sprite.png', 'norm', );
$radio-a-name: 'radio-a';
$radio-a-x: 159px;
$radio-a-y: 101px;
$radio-a-offset-x: -159px;
$radio-a-offset-y: -101px;
$radio-a-width: 19px;
$radio-a-height: 19px;
$radio-a-total-width: 207px;
$radio-a-total-height: 182px;
$radio-a-image: '../images/sprite.png';
$radio-a: (159px, 101px, -159px, -101px, 19px, 19px, 207px, 182px, '../images/sprite.png', 'radio-a', );
$radio-p-name: 'radio-p';
$radio-p-x: 29px;
$radio-p-y: 142px;
$radio-p-offset-x: -29px;
$radio-p-offset-y: -142px;
$radio-p-width: 19px;
$radio-p-height: 19px;
$radio-p-total-width: 207px;
$radio-p-total-height: 182px;
$radio-p-image: '../images/sprite.png';
$radio-p: (29px, 142px, -29px, -142px, 19px, 19px, 207px, 182px, '../images/sprite.png', 'radio-p', );
$select-d-name: 'select-d';
$select-d-x: 79px;
$select-d-y: 171px;
$select-d-offset-x: -79px;
$select-d-offset-y: -171px;
$select-d-width: 13px;
$select-d-height: 9px;
$select-d-total-width: 207px;
$select-d-total-height: 182px;
$select-d-image: '../images/sprite.png';
$select-d: (79px, 171px, -79px, -171px, 13px, 9px, 207px, 182px, '../images/sprite.png', 'select-d', );
$select-t-name: 'select-t';
$select-t-x: 56px;
$select-t-y: 171px;
$select-t-offset-x: -56px;
$select-t-offset-y: -171px;
$select-t-width: 13px;
$select-t-height: 9px;
$select-t-total-width: 207px;
$select-t-total-height: 182px;
$select-t-image: '../images/sprite.png';
$select-t: (56px, 171px, -56px, -171px, 13px, 9px, 207px, 182px, '../images/sprite.png', 'select-t', );
$star-h-name: 'star-h';
$star-h-x: 136px;
$star-h-y: 142px;
$star-h-offset-x: -136px;
$star-h-offset-y: -142px;
$star-h-width: 16px;
$star-h-height: 15px;
$star-h-total-width: 207px;
$star-h-total-height: 182px;
$star-h-image: '../images/sprite.png';
$star-h: (136px, 142px, -136px, -142px, 16px, 15px, 207px, 182px, '../images/sprite.png', 'star-h', );
$star-name: 'star';
$star-x: 162px;
$star-y: 142px;
$star-offset-x: -162px;
$star-offset-y: -142px;
$star-width: 16px;
$star-height: 15px;
$star-total-width: 207px;
$star-total-height: 182px;
$star-image: '../images/sprite.png';
$star: (162px, 142px, -162px, -142px, 16px, 15px, 207px, 182px, '../images/sprite.png', 'star', );
$tel-name: 'tel';
$tel-x: 195px;
$tel-y: 0px;
$tel-offset-x: -195px;
$tel-offset-y: 0px;
$tel-width: 12px;
$tel-height: 16px;
$tel-total-width: 207px;
$tel-total-height: 182px;
$tel-image: '../images/sprite.png';
$tel: (195px, 0px, -195px, 0px, 12px, 16px, 207px, 182px, '../images/sprite.png', 'tel', );
$tw-f-h-name: 'tw-f-h';
$tw-f-h-x: 53px;
$tw-f-h-y: 0px;
$tw-f-h-offset-x: -53px;
$tw-f-h-offset-y: 0px;
$tw-f-h-width: 43px;
$tw-f-h-height: 43px;
$tw-f-h-total-width: 207px;
$tw-f-h-total-height: 182px;
$tw-f-h-image: '../images/sprite.png';
$tw-f-h: (53px, 0px, -53px, 0px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'tw-f-h', );
$tw-f-name: 'tw-f';
$tw-f-x: 106px;
$tw-f-y: 0px;
$tw-f-offset-x: -106px;
$tw-f-offset-y: 0px;
$tw-f-width: 43px;
$tw-f-height: 43px;
$tw-f-total-width: 207px;
$tw-f-total-height: 182px;
$tw-f-image: '../images/sprite.png';
$tw-f: (106px, 0px, -106px, 0px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'tw-f', );
$tw-h-name: 'tw-h';
$tw-h-x: 159px;
$tw-h-y: 0px;
$tw-h-offset-x: -159px;
$tw-h-offset-y: 0px;
$tw-h-width: 26px;
$tw-h-height: 26px;
$tw-h-total-width: 207px;
$tw-h-total-height: 182px;
$tw-h-image: '../images/sprite.png';
$tw-h: (159px, 0px, -159px, 0px, 26px, 26px, 207px, 182px, '../images/sprite.png', 'tw-h', );
$tw-name: 'tw';
$tw-x: 110px;
$tw-y: 106px;
$tw-offset-x: -110px;
$tw-offset-y: -106px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 207px;
$tw-total-height: 182px;
$tw-image: '../images/sprite.png';
$tw: (110px, 106px, -110px, -106px, 26px, 26px, 207px, 182px, '../images/sprite.png', 'tw', );
$vk-f-h-name: 'vk-f-h';
$vk-f-h-x: 106px;
$vk-f-h-y: 53px;
$vk-f-h-offset-x: -106px;
$vk-f-h-offset-y: -53px;
$vk-f-h-width: 43px;
$vk-f-h-height: 43px;
$vk-f-h-total-width: 207px;
$vk-f-h-total-height: 182px;
$vk-f-h-image: '../images/sprite.png';
$vk-f-h: (106px, 53px, -106px, -53px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'vk-f-h', );
$vk-f-name: 'vk-f';
$vk-f-x: 0px;
$vk-f-y: 0px;
$vk-f-offset-x: 0px;
$vk-f-offset-y: 0px;
$vk-f-width: 43px;
$vk-f-height: 43px;
$vk-f-total-width: 207px;
$vk-f-total-height: 182px;
$vk-f-image: '../images/sprite.png';
$vk-f: (0px, 0px, 0px, 0px, 43px, 43px, 207px, 182px, '../images/sprite.png', 'vk-f', );
$vk-h-name: 'vk-h';
$vk-h-x: 0px;
$vk-h-y: 106px;
$vk-h-offset-x: 0px;
$vk-h-offset-y: -106px;
$vk-h-width: 27px;
$vk-h-height: 26px;
$vk-h-total-width: 207px;
$vk-h-total-height: 182px;
$vk-h-image: '../images/sprite.png';
$vk-h: (0px, 106px, 0px, -106px, 27px, 26px, 207px, 182px, '../images/sprite.png', 'vk-h', );
$vk-name: 'vk';
$vk-x: 37px;
$vk-y: 106px;
$vk-offset-x: -37px;
$vk-offset-y: -106px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 207px;
$vk-total-height: 182px;
$vk-image: '../images/sprite.png';
$vk: (37px, 106px, -37px, -106px, 27px, 26px, 207px, 182px, '../images/sprite.png', 'vk', );
$spritesheet-width: 207px;
$spritesheet-height: 182px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-d, $arrow-t, $check-a, $check-p, $cost-t, $fb-f-h, $fb-f, $fb-h, $fb, $green, $map, $middle, $min, $norm, $radio-a, $radio-p, $select-d, $select-t, $star-h, $star, $tel, $tw-f-h, $tw-f, $tw-h, $tw, $vk-f-h, $vk-f, $vk-h, $vk, );
$spritesheet: (207px, 182px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
