/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$check-a-name: 'check-a';
$check-a-x: 0px;
$check-a-y: 72px;
$check-a-offset-x: 0px;
$check-a-offset-y: -72px;
$check-a-width: 19px;
$check-a-height: 19px;
$check-a-total-width: 129px;
$check-a-total-height: 117px;
$check-a-image: '../images/sprite.png';
$check-a: (0px, 72px, 0px, -72px, 19px, 19px, 129px, 117px, '../images/sprite.png', 'check-a', );
$check-p-name: 'check-p';
$check-p-x: 58px;
$check-p-y: 72px;
$check-p-offset-x: -58px;
$check-p-offset-y: -72px;
$check-p-width: 19px;
$check-p-height: 19px;
$check-p-total-width: 129px;
$check-p-total-height: 117px;
$check-p-image: '../images/sprite.png';
$check-p: (58px, 72px, -58px, -72px, 19px, 19px, 129px, 117px, '../images/sprite.png', 'check-p', );
$fb-h-name: 'fb-h';
$fb-h-x: 0px;
$fb-h-y: 36px;
$fb-h-offset-x: 0px;
$fb-h-offset-y: -36px;
$fb-h-width: 26px;
$fb-h-height: 26px;
$fb-h-total-width: 129px;
$fb-h-total-height: 117px;
$fb-h-image: '../images/sprite.png';
$fb-h: (0px, 36px, 0px, -36px, 26px, 26px, 129px, 117px, '../images/sprite.png', 'fb-h', );
$fb-name: 'fb';
$fb-x: 36px;
$fb-y: 36px;
$fb-offset-x: -36px;
$fb-offset-y: -36px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 129px;
$fb-total-height: 117px;
$fb-image: '../images/sprite.png';
$fb: (36px, 36px, -36px, -36px, 26px, 26px, 129px, 117px, '../images/sprite.png', 'fb', );
$green-name: 'green';
$green-x: 110px;
$green-y: 81px;
$green-offset-x: -110px;
$green-offset-y: -81px;
$green-width: 7px;
$green-height: 7px;
$green-total-width: 129px;
$green-total-height: 117px;
$green-image: '../images/sprite.png';
$green: (110px, 81px, -110px, -81px, 7px, 7px, 129px, 117px, '../images/sprite.png', 'green', );
$map-name: 'map';
$map-x: 26px;
$map-y: 101px;
$map-offset-x: -26px;
$map-offset-y: -101px;
$map-width: 12px;
$map-height: 16px;
$map-total-width: 129px;
$map-total-height: 117px;
$map-image: '../images/sprite.png';
$map: (26px, 101px, -26px, -101px, 12px, 16px, 129px, 117px, '../images/sprite.png', 'map', );
$middle-name: 'middle';
$middle-x: 110px;
$middle-y: 55px;
$middle-offset-x: -110px;
$middle-offset-y: -55px;
$middle-width: 16px;
$middle-height: 16px;
$middle-total-width: 129px;
$middle-total-height: 117px;
$middle-image: '../images/sprite.png';
$middle: (110px, 55px, -110px, -55px, 16px, 16px, 129px, 117px, '../images/sprite.png', 'middle', );
$min-name: 'min';
$min-x: 110px;
$min-y: 29px;
$min-offset-x: -110px;
$min-offset-y: -29px;
$min-width: 16px;
$min-height: 16px;
$min-total-width: 129px;
$min-total-height: 117px;
$min-image: '../images/sprite.png';
$min: (110px, 29px, -110px, -29px, 16px, 16px, 129px, 117px, '../images/sprite.png', 'min', );
$norm-name: 'norm';
$norm-x: 0px;
$norm-y: 101px;
$norm-offset-x: 0px;
$norm-offset-y: -101px;
$norm-width: 16px;
$norm-height: 16px;
$norm-total-width: 129px;
$norm-total-height: 117px;
$norm-image: '../images/sprite.png';
$norm: (0px, 101px, 0px, -101px, 16px, 16px, 129px, 117px, '../images/sprite.png', 'norm', );
$radio-a-name: 'radio-a';
$radio-a-x: 110px;
$radio-a-y: 0px;
$radio-a-offset-x: -110px;
$radio-a-offset-y: 0px;
$radio-a-width: 19px;
$radio-a-height: 19px;
$radio-a-total-width: 129px;
$radio-a-total-height: 117px;
$radio-a-image: '../images/sprite.png';
$radio-a: (110px, 0px, -110px, 0px, 19px, 19px, 129px, 117px, '../images/sprite.png', 'radio-a', );
$radio-p-name: 'radio-p';
$radio-p-x: 29px;
$radio-p-y: 72px;
$radio-p-offset-x: -29px;
$radio-p-offset-y: -72px;
$radio-p-width: 19px;
$radio-p-height: 19px;
$radio-p-total-width: 129px;
$radio-p-total-height: 117px;
$radio-p-image: '../images/sprite.png';
$radio-p: (29px, 72px, -29px, -72px, 19px, 19px, 129px, 117px, '../images/sprite.png', 'radio-p', );
$tel-name: 'tel';
$tel-x: 87px;
$tel-y: 72px;
$tel-offset-x: -87px;
$tel-offset-y: -72px;
$tel-width: 12px;
$tel-height: 16px;
$tel-total-width: 129px;
$tel-total-height: 117px;
$tel-image: '../images/sprite.png';
$tel: (87px, 72px, -87px, -72px, 12px, 16px, 129px, 117px, '../images/sprite.png', 'tel', );
$tw-h-name: 'tw-h';
$tw-h-x: 74px;
$tw-h-y: 36px;
$tw-h-offset-x: -74px;
$tw-h-offset-y: -36px;
$tw-h-width: 26px;
$tw-h-height: 26px;
$tw-h-total-width: 129px;
$tw-h-total-height: 117px;
$tw-h-image: '../images/sprite.png';
$tw-h: (74px, 36px, -74px, -36px, 26px, 26px, 129px, 117px, '../images/sprite.png', 'tw-h', );
$tw-name: 'tw';
$tw-x: 74px;
$tw-y: 0px;
$tw-offset-x: -74px;
$tw-offset-y: 0px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 129px;
$tw-total-height: 117px;
$tw-image: '../images/sprite.png';
$tw: (74px, 0px, -74px, 0px, 26px, 26px, 129px, 117px, '../images/sprite.png', 'tw', );
$vk-h-name: 'vk-h';
$vk-h-x: 37px;
$vk-h-y: 0px;
$vk-h-offset-x: -37px;
$vk-h-offset-y: 0px;
$vk-h-width: 27px;
$vk-h-height: 26px;
$vk-h-total-width: 129px;
$vk-h-total-height: 117px;
$vk-h-image: '../images/sprite.png';
$vk-h: (37px, 0px, -37px, 0px, 27px, 26px, 129px, 117px, '../images/sprite.png', 'vk-h', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 129px;
$vk-total-height: 117px;
$vk-image: '../images/sprite.png';
$vk: (0px, 0px, 0px, 0px, 27px, 26px, 129px, 117px, '../images/sprite.png', 'vk', );
$spritesheet-width: 129px;
$spritesheet-height: 117px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($check-a, $check-p, $fb-h, $fb, $green, $map, $middle, $min, $norm, $radio-a, $radio-p, $tel, $tw-h, $tw, $vk-h, $vk, );
$spritesheet: (129px, 117px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
